
@{
    Layout = null;
}


<h3>mvc kamp tablo örneği</h3>
<table>
    <tr>
        @*th başlık kalın punto*@

        <th> Id</th>
        <th>adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    @*td data normal yazılır*@
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama yaptık</td>
        <td>true</td>
    </tr>
    <tr>
        <td>2</td>
        <td>spor</td>
        <td>Açıklama yaptık</td>
        <td>true</td>
    </tr>

</table>